// ==============================================
// USERS (PC)
// ==============================================
.p-users
  &__inner
    text-align: center
  &__heading
    font-weight: bold
    font-size: 2.5em
  &__new
    margin: 10px
    padding: 10px 30px
    font-size: 1.2em
    display: inline-block
    color: #fff
    background-color: #E91E63
    border-color: #D81B60
    border-style: solid
    border-width: 0 0 1px
    border-radius: 4px
    transition: all 0.3s ease 0s
    box-shadow: 0 18px 36px -4px rgba(199,199,199,0.44)
    &:hover
      transform: scale(1.03, 1.03)
      color: #fff
      text-decoration: none
      background-color: darken(#E91E63, 10%)
  &__listWrapper
    width: 80%
    margin: 0 auto
    margin-bottom: 30px
  &__table
    border-collapse: collapse
    border-spacing: 0
    font-size: 1em
    background-color: #ffffff
    margin: 0 auto
    border-radius: 4px
    box-shadow: 0 18px 36px -4px rgba(199,199,199,0.44)
  &__thread
  &__row
    border-bottom: solid 1px #eee
    cursor: pointer
    &:hover
      background-color: #d4f0fd
  &__header
    text-align: center
    padding: 20px
  &__body
  &__data
    font-size: 0.8em
    text-align: center
    padding: 10px 20px